<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
         >

</div>

<div class="courses" *ngIf="courses[0] as course1,">
   <ng-template #blankImage let-courseName = "description">
      Course {{ courseName }} has no image.
    </ng-template> 
   
   <app-course-card *ngFor="let course of courses"   
      [course]="course"
      [noImageTpl]="blankImage"
      (courseSelected)="save($event)">
      <app-course-image [src]="course.iconUrl"></app-course-image>
   </app-course-card>
</div>